
<!-- BEGIN BODY -->
<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="/assets/logo-big.png" alt="" /> 
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN REGISTRATION FORM -->
    <div class="form-vertical" >
      <%= render 'shared/error_messages' if @user.errors.any? %>
      <%= form_for(@user) do |f| %>
        <h3 class="">Registre-se</h3>
        <p>Digite seus dados:</p>
        <div class="control-group">
          <%= f.label :username, class: "control-label visible-ie8 visible-ie9" %>
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-user"></i>
              <%= f.text_field :username, class: "m-wrap placeholder-no-fix", :placeholder => "apelido" %>
            </div>
            <%= showuserCerror(':username') %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name, class: "control-label visible-ie8 visible-ie9" %>
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-user"></i>
              <%= f.text_field :name, class: "m-wrap placeholder-no-fix", :placeholder => "usuário" %>
            </div>
            <% if @user.errors[:name].any? %>
              <div class="help-inline help-small no-left-padding">
                <%=  @user.errors[:name].to_s[2..-3] %>
              </div>
            <% end -%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, class: "control-label visible-ie8 visible-ie9" %>
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-lock"></i>
              <%= f.password_field :password, class: "m-wrap placeholder-no-fix", :placeholder => "senha" %>
            </div>
            <% if @user.errors[:password].any? %>
              <div class="help-inline help-small no-left-padding">
                <%=  @user.errors[:password].to_s[2..-3] %>
              </div>
            <% end -%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, class: "control-label visible-ie8 visible-ie9" %>
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-ok"></i>
              <%= f.password_field :password_confirmation, class: "m-wrap placeholder-no-fix", :placeholder => "confirme sua senha" %>
            </div>
            <% if @user.errors[:password_confirmation].any? %>
              <div class="help-inline help-small no-left-padding">
                <%=  @user.errors[:password_confirmation].to_s[2..-3] %>
              </div>
            <% end -%>
          </div>
        </div>
        <div class="control-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <%= f.label :email, class: "control-label visible-ie8 visible-ie9" %>
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-envelope"></i>
              <%= f.text_field :email, class: "m-wrap placeholder-no-fix", :placeholder => "e-mail" %>
            </div>
            <% if @user.errors[:email].any? %>
              <div class="help-inline help-small no-left-padding">
                <%=  @user.errors[:email].to_s[2..-3] %>
              </div>
            <% end -%>
          </div>
        </div>
        <br>
        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn green pull-right") do %>
            Registrar
            <i class="m-icon-swapright m-icon-white"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- END REGISTRATION FORM -->
    <!-- END LOGIN -->
  </div>
</div>